@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


[data-theme] {
    background-image: radial-gradient(at 0% 100%, rgba(var(--color-secondary-500) / .33) 0px, transparent 50%), radial-gradient(at 98% 100%, rgba(var(--color-tertiary-500) / .33) 0px, transparent 50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}